nav{
  background-color: rgba(10, 1, 27, 0.47);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin:auto;
}

button{
  border: 2px solid rgb(18, 22, 133);
  border-radius: 20px;
  margin-left: 10px;
  background: rgb(132, 138, 227);
  color:rgb(209, 204, 238);
  margin-left: 20px;
  margin-top: 15px;
  margin-right: 10px;
  font-size: 15px;
}
a:link {
    text-decoration: none;
}
img{
  width:100px;
  height:40px;
}
