.box{

  width:50%;
  margin:auto;
  margin-top:50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(74, 3, 3, 0.54);
  background: linear-gradient(rgba(74, 3, 3, 0.54), rgba(219, 255, 0, 0.69));
  text-align: center;
}
.box h1{
  color:rgb(251, 220, 141);
}
.box h4{
  color:rgb(0, 0, 0);
  font-size: 20px;
}
a:link{
  text-decoration: none;
}
.box img{
  margin:auto;
  max-width: 300px;
}
.stream{
  width:100%;
  margin:auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  color:rgb(1, 1, 1);
  border: 1px solid red;
}
.video{
  margin-top:0;
  margin-left: 40px;

}
.chat{

  margin-top:0;
  border: 2px solid blue;
}

.details{
  margin:0;
  width:600px;
  display: flex;
  justify-content: space-between;
  color:rgb(43, 255, 0)
}

.logo{
  width:20px;
  margin:auto;
}

@media screen and (max-width:800px) {
  .box{width: 70%}
  .stream{flex-direction: column;}
  .details{width:500px}

}
@media screen and (max-width:450px) {
  .box{width: 90%}
  .box img{width:250px}
  .stream{flex-direction: column;}
  .details{width:200px}
  .stream img{width:250px}
  .logo{width:20px !important;}
}
