/* You can add global styles to this file, and also import other style files */
body{
  margin: auto;
  background-image: url(http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Kalista_1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}
